<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios de Colectivos</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<header>
    <h1>Horarios de Colectivos</h1>
    <h2>De A a B</h2>
</header>
<table>
    <thead>
    <tr>
        <th>Sale</th>
        <th>Llega</th>
        <th>Empresa</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>05:00 hs (Empresa X)</td>
        <td>06:00</td>
        <td>SolBus</td>

    </tr>
    </tbody>
</table>
</body>
</html>
